<div class="section">
	<div class="leftside">
		<div class="container">
			<div class="title gradient1">
				Title
			</div>
			<div class="content list">
				<a class="row bg1">
					Content
				</a>
				<a class="row bg1">
					Content
				</a>
				<a class="row bg1">
					Content
				</a>
				<a class="row bg1">
					Content
				</a>
			</div>
		</div>
	</div>
	<div class="rightside">
		<div class="container">
			<div class="title gradient2">
				Title
			</div>
			<div class="content list">
				<div class="row bg2">
					<a class="name">
						Content
					</a>				
				</div>
				<div class="row bg2">
					<a class="name">
						Content
					</a>
				</div>
			</div>
			<div class="bottom gradient2"></div>
		</div>
		<div class="container">
			<div class="title gradient2">
				Title
			</div>
			<div class="content list">
				<div class="row bg2">
					<a class="name">
						Content
					</a>				
				</div>
				<div class="row bg2">
					<a class="name">
						Content
					</a>
				</div>
			</div>
			<div class="bottom gradient2"></div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="title gradient2">
			Title
		</div>
		<div class="content bg2">
			Content Goes Here
		</div>
		<div class="bottom gradient2"></div>
	</div>
</div>